name: Publish to Npm

on:
  workflow_call:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  publish:
    name: Publish to npm
    runs-on: ubuntu-latest
    permissions:
      contents: write
    defaults:
      run:
        working-directory: npm

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: 'true'
      - uses: pnpm/action-setup@v3
        with:
          version: 9

      - name: Install dependencies
        run: pnpm install

      - name: Build
        run: pnpm build

      # If there are changesets, this action will create a PR on the repo to version packages
      # If there are none, it will publish newer-versioned public packages to npm
      - name: Create Release Pull Request or Publish to npm
        id: changesets
        uses: changesets/action@v1
        with:
          publish: pnpm changeset:publish
          cwd: "./npm"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
